.pure-menu-list{
    background-color: black;
    float: right;
    font-size: 20px;
}
.pure-menu-horizontal {
    
    background-color: black;
    text-decoration-color: deepskyblue;
   
}     

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgb(61, 79, 93);
    color: #fff;
}