.pure-menu-list{
    background-color: black;
    float: right;
    font-size: 20px;
}
.pure-menu-horizontal {
    
    background-color: black;
    text-decoration-color: deepskyblue;
   
}     

    