.sidebar {

    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    background: rgb(61, 79, 93);
    color: #fff;

}

.pure-g {

    padding-left: 28%;
    padding-top: 3%;
    font-family: sans-serif;

}


.header {

    text-align: center;
    top: auto;
    margin: 12em auto;
    font-family: sans-serif;

}

.nav-item a {

    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;

}

.pure-button {

    font-family: inherit;
    text-decoration: none;
    border-radius: 2px;
    padding: .5em 1em;
        
}